@import url('dashboard_user.css');

.profile-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 600px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.info p {
    font-size: 16px;
    margin: 6px 0;
}
